/* Configurações Gerais do Site */
*{
    margin: 0;
}
body{
    /*Plano de Fundo*/
   background: radial-gradient( ellipse at center, #2c044d 0%, /* Roxo escuro */ #130129 70%, /* Roxo muito escuro */ #000000 100% /* Preto na borda */);
}
h1 {
    color: #FFFFFF; 
    font-family: Arial, sans-serif; 
    overflow: hidden;
    margin-bottom: 50px;
    padding: 0 20px;
    line-height: 1.2
}

.container {  
    height: 100vh;  
    overflow: hidden;  
    position: relative;
    pointer-events: none;
    

}

.estrelas {  
    position: absolute;  
    top: 0; left: 0;  width: 3px;  
    height: 3px;  border-radius: 50%;  
    box-shadow:     15px 15px #fff,    125px 35px #fff,    50px 80px #fff;
}
 
.start {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 25px;
    /*borda do botão*/
    border-radius: 10%;
    border-color: #2c044d;
    border: 2px solid #ccc;
    cursor: pointer;
}

.conta-existente {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: underline;

}

.login-registro{
    display: flex;
    flex-direction: column; /* Botão em cima, link embaixo */
    align-items: center;
    gap: 20px
}

.boas-vindas{
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;

    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10; /* Garante que os botões sejam clicáveis */
    text-align: center;
}